header {
    background-color: var(--bg-colour);
}
/* 1 rem = 16 px */
header {
    padding: 1.3rem; 
    position: relative;
    margin: 0;
}

.header .name {
    font-size: 1.4rem;
    font-weight: 700;
}

.header .position {
    font-size: 0.65rem;
    font-weight: 300;
    color: var(--colour-two);
}
